@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --base-color: teal;
  --secundary-color: gray;
  --accent-color: white;
  --background-color: lightgray;
}
.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}
.logo {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 3rem;
}
.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  font-size: 0.8rem;
  border: 2px solid var(--base-color);
  border-radius: 2rem;
  line-height: 1;
  margin: 0 0.2rem;
  transition: 0.3s;
  text-transform: uppercase;
}

.btn.solid,
.btn.transparent:hover {
  background-color: var(--accent-color);
}

.btn.transparent,
.btn.solid:hover {
  background-color: transparent;
  color: var(--accent-color);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  max-width: 65rem;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

header {
  position: sticky;
  top: 0px;
  background-color: var(--secundary-color);
  width: 100%;
  z-index: 1000;
}

section {
  position: relative;
  height: calc(100vh - 3rem);
  width: 100%;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color);
}

.nav-link.open > a,
.dropdown-link.open > a {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.nav-link.open a:hover {
  font-style: normal;
}

.nav-links {
  flex: initial;
  width: 100%;
}

.nav-links > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link {
  position: relative;
  width: 100%;
  opacity: 1;
  border: 1px solid darkslategray;
}

.dropdown ul {
  position: relative;
}
/* .dropdown-link i {
    transform: rotate(-90deg);
  } */

.dropdown-link:first-child:hover ~ .arrow {
  background-color: black;
}

.menu-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu div {
  width: 1.6rem;
  height: 3px;
  border-radius: 3px;
  background-color: var(--accent-color);
  position: relative;
  z-index: 1001;
  transition: 0.5s;
}

.menu div:before,
.menu div:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--accent-color);
  border-radius: 3px;
  transition: 0.5s;
}

.menu div:before {
  transform: translateY(-7px);
}

.menu div:after {
  transform: translateY(7px);
}

#check:checked ~ .menu-container .menu div {
  background-color: transparent;
}

#check:checked ~ .menu-container .menu div:before {
  transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .menu-container .menu div:after {
  transform: translateY(0) rotate(45deg);
}

#check {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  /* transform: translateY(-50%); */
  width: 2.5rem;
  height: 2.5rem;
  z-index: 90000;
  cursor: pointer;
  opacity: 0;
  display: block;
}

.nav-btn {
  flex: 3;
  display: flex;
  position: fixed;
  height: calc(100vh - 3rem);
  top: 3rem;
  left: 0;
  width: 100%;
  background-color: var(--base-color);
  transform: translateX(100%);
  transition: 0.65s;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: auto;
}

#check:checked ~ .nav-btn {
  transform: translateX(0);
}

#check:checked ~ .nav-btn .nav-link {
  animation: animation 0.5s ease forwards var(--base-color);
}

.nav-link > a {
  color: var(--accent-color);
  padding: 0 0.8rem;
  letter-spacing: 1px;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
  line-height: 1 !important;
  padding: 1.6rem 2rem !important;
}

.nav-link:hover > a {
  transform: scale(1);
}

.dropdown,
.dropdown.second {
  position: initial;
  top: initial;
  left: initial;
  transform: initial;
  opacity: 1;
  pointer-events: auto;
  width: 100%;
  padding: 0;
  display: none;
  transform: translateY(10px);
  transition: 0.5s;
}

.dropdown-link:hover,
a {
  cursor: pointer;
}
.nav-link:hover > .dropdown,
.dropdown-link:active > .dropdown {
  display: block;
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}

.nav-link:hover > a > i,
.dropdown-link:hover > a > i {
  transform: rotate(90deg);
}
.dropdown-link:hover > a {
  color: var(--accent-color);
}
.dropdown-link > a {
  display: flex;
  background-color: transparent;
  color: var(--accent-color);
  padding: 1.2rem 2rem;
  font-size: 0.9rem;
  line-height: 1;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
}
.dropdown-link {
  position: relative;
}

.dropdown.second .dropdown-link > a {
  padding: 1.2rem 2rem 1.2rem 3rem;
}

.dropdown.second .dropdown.second .dropdown-link > a {
  padding: 1.2rem 2rem 1.2rem 4rem;
}

.dropdown-link:not(:nth-last-child(2)) {
  border-bottom: none;
}

.arrow {
  position: absolute;
  width: 11px;
  height: 11px;
  top: -5.5px;
  left: 10%;
  background-color: var(--accent-color);
  transform: scale(1.1) rotate(45deg);
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.dropdown .dropdown .arrow {
  display: none;
}

.nav-link > a > i {
  font-size: 1.1rem;
  transform: rotate(-90deg);
  transition: 0.7s;
  margin-left: 0.2rem;
}

.dropdown i {
  font-size: 1rem;
  transition: 0.7s;
}
.dropdown.second .arrow {
  top: 10px;
  left: -5.5px;
}
.dropdown {
  background-color: var(--base-color);
}

.labels {
  display: flex;
  font-size: 0.7rem;
  font-weight: 600;
  color: black;
  padding-bottom: 1%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2rem;
}
.label {
  border: 1px solid palevioletred;
  padding: 4px;
  background: salmon;
  margin-right: 2%;
  border-radius: 20px;
  margin-bottom: 1%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.label.active {
  background-color: #ff6347;
  animation: shake 0.5s ease;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.7);
}

.label:hover {
  cursor: pointer;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes animation {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (min-width: 920px) {
  .container {
    display: none;
  }
  .overlay {
    display: none;
  }

  .menu-container {
    display: none;
  }
}
