@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --base-color: teal;
  --secondary-color: gray;
  --accent-color: white;
  --background-color: lightgray;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--base-color);
  color: var(--accent-color);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navbar {
  background-color: var(--secondary-color);
  color: var(--accent-color);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: bold;
  height: 5%;
}

.content {
  height: 91%;
  display: flex;
  flex-direction: column;
}

.content-top {
  height: 8%;

  border: 1px solid;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  border-radius: 12px;
  background-color: #007070;
}
label {
  font-size: 1.5rem;
  color: var(--accent-color);
  font-weight: 300;
}
.label {
  display: flex;
  align-items: center;
}
.hbo-i-activiteit {
  background-color: salmon;
  border-color: saddlebrown;
  width: auto;
  border-radius: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 0.1%;
  font-size: 1.3rem !important;
}
.ssdlc-fase {
  font-style: italic;
  font-size: 2rem;
}
.content-middle {
  height: 88%;
  background: #007070;
  margin-top: 1%;
  border-radius: 12px;
  overflow: auto;
}

.content-bottom {
  height: 4%;
}

.brand {
  font-size: 2rem;
  font-weight: bold;
}

.tabs {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;

  font-weight: bold;
  display: flex;
}

.tab {
  padding: 10px 50px !important;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  position: relative;
  font-size: 1.2rem !important;
}

.tab.active {
  background-color: salmon;
  color: white;
}
.tab:hover {
  border-bottom: 2px solid white;
}

.activiteit-active {
  background-color: var(--base-color);
}

.activiteit {
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  border: 1px solid #555;
  border-top: none;
}

.tab:hover .dropdown {
  display: block;
  animation: fadeInDown 0.5s ease-out;
}

.dropdown li {
  cursor: pointer;
  padding: 10px 0;
}

.dropdown li:hover {
  background-color: #555;
}

.content {
  padding: 20px;
  transition: background-color 0.3s ease;
  display: none;
}

.show {
  display: flex;
}

.active-vaardigheid {
  font-weight: bold;
  font-style: italic !important;
}
.content ul {
  padding-left: 20px;
  border-left: 1px solid #555;
  margin: 1%;
}

.content li {
  font-size: 18px;
  margin: 1%;
}

/* Tree styling */
.tree li {
  position: relative;
}

.tree ul {
  padding-left: 20px;
  border-left: 1px solid #555;
}

.tree li::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
  width: 10px;
  height: calc(100% + 20px);
}

@media (max-width: 1200px) {
  .tab {
    padding: 10px 20px !important;
  }
}
