@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --base-color: #f5f6f7;
  --accent-color: black;
  --secondary-color-light: #fff578;
  --secondary-color: #f7cd46;
  --secondary-color-dark: #f5a61a;
  --background-color: #fdbd77;
  --background-color-light: peachpuff;
  --background-color-dark: orange;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: var(--base-color);
  height: 100%;
  width: 100%;
  overflow: hidden;
}
