@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: var(--base-color);
  color: var(--accent-color);
}
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --base-color: teal;
    --secundary-color: gray;
    --accent-color: white;
    --background-color: lightgray;

    --parent-color: #007373;
    --child-color: #005856;
    --child-child-color: #004140;
  }

.container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container {
  flex: 1;
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3rem;
}

.active{
  display: flex;
}

.ssldc-items{
  font-size: 20px;
  display: block;
}

.ssldc-item{
  display: flex;
}

.hbo-i-activiteit{
  display: flex;
}

.hbo-i-activiteit{
  display: flex;
}