@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background-color: var(--base-color);
  color: var(--accent-color);
}
* {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --base-color: teal;
    --secundary-color: gray;
    --accent-color: white;
    --background-color: lightgray;

    --parent-color: #007373;
    --child-color: #005856;
    --child-child-color: #004140;

    --active-color: bisque;

    --tag-color: #E78575;
    --tag-active-color: #ED6D52;
  }

.SEMButton{
  background-color: var(--background-color);
  border: none;
  display: inline-block;
  font-size: 1.0rem;
  text-decoration: none;
  text-align: center;
  margin: 0.8%;
  width: fit-content;
  border-radius: 10px;
}

.SEMButton:hover{
  background-color: var(--active-color);
}

.SEMButton:active{
  background-color: var(--active-color);
}

.container {
  width: 100%;  
  height: 7%;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-color: var(--secundary-color);
}

.logo-container {
  font-size: 50%;
  flex: 1;
  display: flex;
}

.logo {
  color: var(--accent-color);
  font-size: 1.8rem;
  align-content: center;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 3rem;
  margin-right: 5%;
  border-radius: 10%;
}

.ssldc-items {
  display: block;
  width: fit-content;
}

.ssldc-item {
  background-color: var(--parent-color);
  width: 500px;
  height: 110px;
  grid-template-columns: auto 1fr;
  margin: 2%;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ssldc-item-text{
  font-size: 30px;
  margin-left: 2%;
  display: grid;
  height: fit-content;
  width: 100px;
}

.hbo-i-items{
  position: relative;
  width: 40%;
  margin-left: 10%;
  float: right;
  width: 200px;
  height: 110px; 
  align-items: center; /* Vertically center the content */
}

.hbo-i-item {
  margin-top: 20px;
  font-size: 100%;
  display: flex;
  margin-left: 2%;
  margin-right: 10%;
  width: 200px;
  height: 25px;
  position: relative;
  align-items: center; /* Vertically center the content */
}

.hbo-i-tag{
  border-radius: 10px;
  background-color: var(--tag-color);
  font-size: 45%;
  font-size: 12px;
  width: 180px;
  height: 25px; 

  text-align: center;
  justify-content: center;
  align-items: center;
}

.hbo-i-tag:hover,
.hbo-i-tag:active{
  background-color: var(--tag-active-color);
}

.hbo-i-activiteiten{
  position: absolute;
  top: 0;
  left: 100%;
  width: 120%;
}

.hbo-i-activiteit{
  background-color: var(--child-color);
  width: 120%;
  justify-content: right;
  align-content: right;
  display: grid;
  position: relative;
}

.hbo-i-activiteit:hover{
  background-color: var(--child-child-color);
}

.hbo-i-vaardigheden {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  font-size: 100%;
  margin-left: 2%;
}

.hbo-i-vaardigheid {
  font-size: 100%;
  float: right;
  width: 400px;
  display: flex;
  margin-left: 2%;
  background-color: var(--child-child-color);
}

.hidden {
  display: none !important;
}





