# Ignore node_modules directory
node_modules/

# Ignore compiled CSS
*.css.map

# Ignore minified JavaScript
*.min.js

# Ignore any compiled code
dist/

# Ignore any local development configuration files
.env

# Ignore any temporary files
*.log
*.tmp

# Ignore any dependency lock files
package-lock.json
yarn.lock

# Ignore Visual Studio Code settings
.vscode/
